:root {
  font-family: 'Calibri';
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #00f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #9c3c98;
}

h1 {
  text-align: center;
}

table {
  margin: 30px auto;
  width: 624px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

table thead th {
  text-transform: uppercase;
  padding: 6px;
}

table thead th:first-child {
  width: 80px;
}

table thead th:last-child {
  width: 120px;
}

table tbody td {
  padding: 4px 0;
  text-align: center;
}

table tbody tr:nth-child(2n + 1) td {
  background-color: #ddd;
}
